@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
}
.logo {
  width: 76px;
  height: 20px;
  top: 10px;
  left: 12px;
  line-height: 20px;
}
